.Room {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Room-id-button {
  outline: 0;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 48px;
  border: 0;
  color: whitesmoke;
  font-size: 24px;
  padding: 24px 32px;
}
.Room-id-button:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.Video-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Peer-video-container {
  display: flex;
  flex-direction: column;
}

.Peer-video {
  width: 240px;
}

.Username {
  background-color: white;
}

.User-video {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 240px;
  border-radius: 8px;
}
