.Room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.Grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Peer-video-container {
  background-color: transparent;
}
.User-video-container {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 12px;
  justify-content: center;
  overflow: hidden;
}
.Video {
  height: 100%;
  width: 100%;
}

.Call-time {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 12px;
  background-color: rgb(20, 20, 20, 0.8);
  color: whitesmoke;
  font-size: 24px;
  padding: 20px;
  border-radius: 36px;
}
.Call-time:hover {
  background-color: rgb(14, 14, 14, 0.9);
}
.Call-time:active {
  background-color: rgb(4, 4, 4, 0.9);
}

.Buttons-container {
  position: fixed;
  bottom: 0;
}
.Button {
  margin: 12px 6px;
  outline: 0;
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 36px;
  color: whitesmoke;
  border: 0;
  border-radius: 36px;
  width: 72px;
  height: 72px;
  line-height: 80px;
}
.Button:hover {
  background-color: rgb(14, 14, 14, 0.9);
}
.Button:active {
  background-color: rgb(4, 4, 4, 0.9);
}
.Endcall-button {
  background-color: rgb(200, 0, 0, 0.8);
}
.Endcall-button:hover {
  background-color: rgb(180, 0, 0, 0.9);
}
.Endcall-button:active {
  background-color: rgb(150, 0, 0, 0.9);
}

@media only screen and (max-width: 900px) {
  .Call-time {
    position: fixed;
    top: 0;
    bottom: initial;
  }

  .User-video-container {
    position: fixed;
    top: 0;
    bottom: initial;
  }
}
